name: Build and Publish Storybook to GitHub Pages

on:
  push:
    branches:
      - 'main' 

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Setup pnpm
        uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - uses: bitovi/github-actions-storybook-to-github-pages@v1.0.3
        with:
          install_command: |
            pnpm install
            pnpm build 
          build_command: |
            cd ./apps/docs
            pnpm build-storybook
          path: ./apps/docs/storybook-static
          checkout: false
